/AnatomyAndMotionScrapper/AnatomyAndMotionScrapper/RawContent
/AnatomyAndMotionScrapper/AnatomyAndMotionScrapper/obj
/AnatomyAndMotionScrapper/AnatomyAndMotionScrapper/bin
/AnatomyAndMotionScrapper/CuttedContent
/AnatomyAndMotionScrapper/ParsedContent
/AnatomyAndMotionScrapper/RawContent
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion.Android/bin/
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion.Android/obj/
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion.UWP/bin/
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion.UWP/obj/
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion.iOS/bin/
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion.iOS/obj/
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/bin/
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/obj/
/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/MuscleAnatomyAndMotion/Assets
/AnatomyAndMotionScrapper/CuttedContent2/
/AnatomyAndMotionScrapper/ParsedContent2/
