/AnatomyAndMotionScrapper/AnatomyAndMotionScrapper/RawContent
/AnatomyAndMotionScrapper/AnatomyAndMotionScrapper/obj
/AnatomyAndMotionScrapper/AnatomyAndMotionScrapper/bin
/AnatomyAndMotionScrapper/CuttedContent
/AnatomyAndMotionScrapper/ParsedContent
/AnatomyAndMotionScrapper/RawContent
